# Project Proposal
##### Group 28 Calvin Choi & Mikel Ibarra Gallardo

In [5]:
# loading libraries
library(readxl)
library(ggplot2)                     
library(GGally)
library(cowplot)
library(dplyr)
library(gridExtra)
library(repr)
library(infer)
library(repr)
library(tidyverse)
library(tidymodels)

## Cleaning Data

In [7]:
AStat <- read_csv("data/UnitedAirlines_stat.csv", col_names = TRUE) |> # read csv from (INSERT website link here)
         na.omit()                                                     # removing NA values
head(AStat)

New names:
• `` -> `...1`
Rows: 313 Columns: 22
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (22): ...1, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  ...1                             1995       1996       1997       1998
1 Small Narrowbodies               $2,326,550 $2,566,989 $2,710,156 $2,679,390
2 Pilots (000)                     $583,404   $627,762   $669,258   $689,224
3 Salaries and Wages (000)         $432,613   $469,059   $515,538   $508,323
4 Pilot Training (000)             $28,235    $22,388    $23,838    $22,037
5 Benefits and Payroll Taxes (000) $77,752    $87,128    $77,679    $105,045
6 Per Diem/ Personnel (000)        $44,804    $49,187    $52,203    $53,819
  1999       2000       2001       2002       2003       ⋯ 2006
1 $2,854,374 $3,312,501 $3,452,306 $2,762,638 $2,401,097 ⋯ $3,023,429
2 $728,240   $838,740   $999,164   $897,116   $634,961   ⋯ $438,619
3 $533,546   $605,325   $649,540   $563,728   $370,899   ⋯ $277,744
4 $25,315    $25,163    $29,921    $22,831    $11,309    ⋯ $8,183
5 $108,242   $143,949   $247,814   $257,181   $213,327   ⋯ $114,430
6 $61,137    $64,303    $71,889    $53,376    $39,426    ⋯ $38,262
  2007       2008       2009       2010       2011       2012       2013
1 $3,139,163 $3,721,438 $1,989,693 $2,188,492 $2,536,421 $3,544,397 $3,296,735
2 $435,275   $435,110   $374,621   $329,334   $306,357   $467,634   $548,759
3 $275,166   $274,264   $228,164   $208,150   $211,297   $314,467   $369,108
4 $9,754     $7,933     $8,636     $4,046     $3,820     $3,089     $9,020
5 $109,587   $113,649   $107,956   $90,693    $66,376    $131,097   $132,366
6 $40,768    $39,264    $29,865    $26,444    $24,865    $18,981    $38,264
  2014       2015
1 $3,200,531 $2,409,722
2 $605,357   $589,163
3 $407,588   $413,252
4 $9,873     $14,026
5 $131,195   $131,049
6 $56,702    $30,836

## Wrangling Data

In [30]:
AStat <- AStat           |>
         t()             |>         #transpose the dataset so years are observations
         select()  #      |>         #
AStat

ERROR: Error in UseMethod("select"): no applicable method for 'select' applied to an object of class "c('matrix', 'array', 'character')"